{% extends "portal/portal.html" %}
{% comment %}
  Main page of the portal.
{% endcomment %}

{% block title %}
  Portal
{% endblock %}

{% block content %}
  <section>
    <h2>Welcome {{ user.get_username }}</h2>
    <p>This is the main page of the web portal.</p>
{#    <form action="/your-name/" method="post">#}
{#    <label for="your_name">Your name: </label>#}
{#    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">#}
{#    <input type="submit" value="OK">#}
{#    </form>#}
  </section>
{% endblock %}